/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary: #ffff; 
  --secondary: #5a44da;
}

header {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center
}
section {
  display: flex;
  flex-direction: column;
  align-items:center;
  width:100vw;
  margin-bottom: 2rem;
}
h1 {
  display: block;
  font-size: 2rem;
}
.header_title{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: var(--secondary);
  font-size:1.5rem;
  font-weight: 500
}
.logo{
  display: flex;
  justify-content: center;
  background-color: #3621ae;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  margin: 2.5rem 1rem 2.5rem 2.5rem;
}
.links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 4.5rem 2.5rem 0 0;
}
.links_icons{
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 1.5rem;
 
}
select{
  font-weight: 500;
  border: none;
  color: var(--secondary)
}
h2{
  color: var(--secondary)
}